<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.travelmaker.back.mapper.NoticeBoardMapper">
    <select id="noticeBoardList" parameterType="int" resultType="OutNotice">
        select b.id, b.userId,b.category, b.title, b.content, b.written_date, b.updated_date, b.viewCount, b.tags, b.imgs, b.videos, u.nickname from board as b inner join user as u on b.userId = u.id
        where category = #{category} and b.title like '%공지사항%' order by b.id desc limit 30 ;
    </select>

    <select id="eventBoardList" parameterType="int" resultType="OutNotice">
        select b.id, b.userId,b.category, b.title, b.content, b.written_date, b.updated_date, b.viewCount, b.tags, b.imgs, b.videos, u.nickname from board as b inner join user as u on b.userId = u.id
        where category = #{category} and b.title like '%이벤트%' order by b.id desc limit 30;
    </select>

    <select id="noticeBoardUpdate" parameterType="OutNotice">
        update board set userId = #{userId}, title = #{title}, content = #{content}, updated_date=now(), imgs=#{imgs}  where id = #{id};
    </select>

    <insert id="insert" parameterType="InNotice" >
        insert into board(userId, title,content,imgs,category) values (#{userId},#{title},#{content},#{imgs},#{category})
    </insert>

    <delete id="delete" parameterType="int">
        delete from board where id = #{id}
    </delete>

    <update id="noticeBoardCount" parameterType="int">
        update board set viewCount = #{viewCount}  where id = #{id};
    </update>

</mapper>